@font-face {
   font-family: raleway;
   src: url(fonts/Raleway-Regular.ttf);
}
@font-face {
   font-family: raleway-thin;
   src: url(fonts/Raleway-ExtraLight.ttf);
}

.ui-loader {
    display: none;
}
body * {
    outline-color: transparent;
}

body {
    margin: 0;
    background: linear-gradient(to bottom right, #0062FF, #00f3FF);
    font-family: raleway;
}
#menu {
    display: none;
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: #090811;
    z-index: 9999;
}
ul {
    list-style-type: none;
    margin-top: 30px;
    overflow: hidden;
    padding: 0;
}
li {
    font-family:raleway-thin;
    color: #FCFCFC;
    font-size: 26px;
    padding: 18px 0 18px 40px;
}
#hamburgerButton {
    height: 20px;
    padding: 25px;
    z-index: 10;
    position: absolute;
}
#gameOneHomePage, #gameTwoHomePage {
    height: 100vh;
    background: linear-gradient(to bottom right, #0062FF, #00f3FF);
}
#gameTwoHomePage {
    display: none;
}
.h1 {
    color: #FCFCFC;
    font-size: 42px;
    font-weight: 300;
    font-family: raleway-thin;
    text-align: center;
    padding-top: 25%;
}
.home-page-content {
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-img {
    width: 200px;
    margin: 0 auto;
    display: block;
}
.start-button {
    background-color: #D8244E;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.start-button h2 {
    font-family: raleway;
    font-size: 20px;
    font-weight: 300;
    color: #FFC9D6;
    padding-top: 13px;
}
#gameOneGamePage {
    height: 100vh;
    display: none;
    background: linear-gradient(to bottom right, #0062FF, #00f3FF);
}
#gameTwoGamePage {
    height: 100vh;
    display: none;
    background: linear-gradient(to bottom right, #0062FF, #00f3FF);
}
.game-page-topbar {
    display: flex;
    position: absolute;
    height: 70px;
    width: 100%;
    z-index: 1;
}
.close-button {
    height: 20px;
    padding: 25px;
}
.game-page-topbar h2 {
    color: white;
    margin-top: 23px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    font-family: raleway-thin;
    width: 100%
}
.game-page-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#statementsOutputOne, #statementsOutputTwo {
    color: #FCFCFC;
    font-size: 30px;
    padding: 0 5% 0 5%;
    text-align: center;
}
.game-page-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
#nextButtonOne, #nextButtonTwo {
    background-color: #D8244E;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.next-div {
    display: flex;
    align-items: center;
}
.next-div img {
    height: 14px;
    margin-left: 8px;
    margin-top: 3px;
}
#nextButtonOne h2, #nextButtonTwo h2 {
    font-family: raleway;
    font-size: 20px;
    font-weight: 300;
    color: #FFC9D6;
    padding-top: 3px;
}

/*animations*/
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .4s linear;
}
@keyframes rippleDrop {
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}